<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="icecaptools.BundleResourceManager">
      <BundleResourceManager class="hvmforarmcortexm.ArmCortexMPluginResourceManagerDescriptor">
      </BundleResourceManager>
   </extension>
   <extension point="icecaptools.ProjectResourceManager">
   	<ProjectResourceManager class="hvmforarmcortexm.ArmCortexMPorjectResourceManagerDescriptor">
   	</ProjectResourceManager>
   </extension>
   <extension
         point="icecaptools.NativeMethodCodeGenerator">
      <NativeMethodCodeGenerator
            class="hvmforarmcortexm.ArmCortexMNativeMethodGenerator">
      </NativeMethodCodeGenerator>
   </extension>
   <extension
         point="icecaptools.ArchitectureDependentCodeGenerator">
      <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.ArmCortexMOsTypes">
      </ArchitectureDependentCodeGenerator>
   </extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page name="HVM for ARM Cortex M" 
			class="hvmforarmcortexm.ui.HvmForArmCortexMPropertyPage" 
			id="hvmforarmcortexm.ui.HvmForArmCortexMPropertyPage">
      </page>
    </extension>
</plugin>
