<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="icecaptools.AdditionalResourceManager">
      <AdditionalResourceManager
            class="hvmforstm32.Stm32ResourceManagerDescriptor">
      </AdditionalResourceManager>
   </extension>
   <extension
         point="icecaptools.CodeGenerator">
      <CodeGenerator
            class="hvmforstm32.Stm32OsTypes">
      </CodeGenerator>
   </extension>

</plugin>
