<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="icecaptools.BundleResourceManager">
      <BundleResourceManager class="hvmforstm32.STMPluginResourceManagerDescriptor">
      </BundleResourceManager>
   </extension>
   <extension point="icecaptools.ProjectResourceManager">
   	<ProjectResourceManager class="hvmforstm32.STMProjectResourceManagerDescriptor">
   	</ProjectResourceManager>
   </extension>
   <extension
         point="icecaptools.NativeMethodCodeGenerator">
      <NativeMethodCodeGenerator
            class="hvmforstm32.STMNativeMethodGenerator">
      </NativeMethodCodeGenerator>
   </extension>
   <extension
         point="icecaptools.ArchitectureDependentCodeGenerator">
      <ArchitectureDependentCodeGenerator
            class="hvmforstm32.STMOsTypes">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.AdditionalSourcesMakeFile">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.BurnToolMakeFile">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.CompilerFlagMakeFile">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.CompilerMakeFile">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.LibrariesMakeFile">
      </ArchitectureDependentCodeGenerator>
            <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.ObjectCopyMakeFile">
      </ArchitectureDependentCodeGenerator>
            <ArchitectureDependentCodeGenerator
            class="hvmforarmcortexm.makefile.OutputNameMakefile">
      </ArchitectureDependentCodeGenerator>
      
      
      
      
      
   </extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page name="HVM for ARM Cortex M" 
			class="hvmforarmcortexm.ui.HvmForArmCortexMPropertyPage" 
			id="hvmforarmcortexm.ui.HvmForArmCortexMPropertyPage">
      </page>
    </extension>
 <extension
       point="icecaptools.BundleResourceManager">
    <BundleResourceManager
          class="hvmforstm32.STMARMPluginResourceManager">
    </BundleResourceManager>
 </extension>
</plugin>
